/*
Theme Name: bcn.mv
Theme URL: bcn.mv
Description: theme for bcn.mv
Version: 1.0
Author: Yameen Mohamed
Author URL: mailto:yaamynu@gmail.com
Tags: bcn, bcn.mv, trade.gov.mv, med, econdev
*/




html{
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

body{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}
nav.navbar
{
    margin-bottom: 0;
}


.swiper-slide img {
    position: absolute;
    width: 100%;
}

.swiper-slide div.text {
    position: absolute;
    width: 100%;
    top: 30%;
    right: 0;
    float: right;
    color: #fff;
    left: 33%;
}

div.swiper-button-next, div.swiper-button-prev {
    position: absolute;
    top: 30%;
}

.swiper-slide.jessun {
    background: #337AB7;
    color: #fff;
    padding: 0 10px;
    text-align: center;
}

.frame iframe {
    width: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    min-height: 150px;
    clear:both;
    padding-top:20px;
}

.date-box {
    padding: 7px 0;
    width: 60px;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-weight: 300;
}

.date-box .date-box-month, .date-box .date-box-year {
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 1.3;
    text-transform: uppercase;
}
.date-box .date-box-day {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
}

.date-box .date-box-month, .date-box .date-box-year {
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 1.3;
    text-transform: uppercase;
}

ul.iconic {
    margin-left: -36px;
    list-style: none;
}

ul.iconic li {
    display: inline-block;
    width: calc(25% - 6px);
    text-align: center;
    box-shadow: #737373 0px 0px 5px;
    margin: 1px;
}
.container-fluid.box
{
    padding-bottom: 40px;
}
.container-fluid.grey {
    border-bottom: 1px solid rgb(218, 218, 218);
    background: #F8F8F8;
}


.card {
    width: 270px;
    padding: 24px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    color: #7a7a7a;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
    box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
    -webkit-transition: box-shadow 200ms;
    -moz-transition: box-shadow 200ms;
    -o-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
    float: left;
    margin: 12px;
    min-height: 300px;
}
.card h2 {
    margin: 0;
}


ol.news-list li a {
    font-size: 16px;
    display: block;
}
ol.news-list li {
    margin-bottom: 8px;
}
ol.news-list {
    margin-left: -40px;
    list-style: none;
    margin-top: 15px;
}


.padding-20
{
    padding: 20px;
}

.padding-50
{
    padding: 50px;
}
.header{

}
.content{

}
.sidebar{

}
.footer{

}


.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}


h3#reply-title {
    display: none;
}

div#nav-below
{
    text-align: center;
}
div#nav-below div {
    display: inline-block;
}

div#nav-below .nav-previous {
    float: left;
}

div#nav-below .nav-next {
    float: right;
}


blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

ul.iconic li {
    padding: 10px;
    transition: width .3s ease-in;
}

a.more:before {
    height: 1px;
    width: 100%;
    background: #D8D8D8;
    content: "\00a0";
    display: block;
}

a.more {
    padding-top: 100px;
    display: block;
}

img.icon {
    width: 20px;
}
div.side_bar
{
    border-left: 1px solid #ccc;
    min-height: 200px;
}
table#wp-calendar tbody td {
    background: #FFF;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
table#wp-calendar caption {
    background: #F8F8F8;
    padding: 10px;
}
table#wp-calendar tbody td:hover {
    background-color: #ccc;
}
table#wp-calendar tfoot td#prev, table#wp-calendar tfoot td#next {
    padding: 10px;
}

div#main > .container {
    padding-top: 20px;
    padding-bottom: 100px;
    background-image: url('resources/images/grid_bg.png');
    background-repeat: repeat-x;
}

.align-center {
    text-align: center;
}


a.hoverTip {
    position: relative;
    display: block;
    overflow: hidden;
}

.hoverTip .slideUp {
    position: absolute;
    width: 100%;
    display: block;
    transition: all 0.3s ease-in;
    background: #eee;
    top: 100px;
    background: #000;
    color: #fff;
    margin: 0 -15px;
    padding: 15px;
    height: 100%;
    cursor: pointer;
}

a.hoverTip:hover > .slideUp {
    top: 0;
}

.videos .entry-content iframe {
    width: 100%;
    height: 50vh;
}

@media screen and (max-width: 768px)
{
    .swiper-container.gallery-thumbs
    {
        left: -1000px;
    }

    .swiper-slide div.text
    {
        left: 10px;
    }
}

@media screen and (max-width: 840px){
    ul.iconic li {
        width: calc(33% - 6px);
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 480px){
    ul.iconic li {
        width: calc(50% - 6px);
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 400px){
    ul.iconic li {
        width: 100%;
        margin-bottom: 12px;
    }
}